---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';
---

<style>
    nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 0.5rem;
    }
</style>

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>