---

---

<style> 
    a {
        text-decoration: none;
        color: white;
        background-color: #4c1d95;

    }
</style>

<div class="nav-links"> 
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>
</div>